<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipe Editor</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1 id="page-title">Create Recipe</h1>
            <div id="error-box" style="display: none;" class="alert"></div>
            
            <form id="recipe-form" style="margin-top: 1rem;">
                </form>
        </div>
    </div>

    <script src="js/main.js"></script>
    <script>checkAuth();</script>
    <script src="js/editor.js"></script>
</body>
</html>