<!DOCTYPE html>
<html lang="en">
<head>
    <title>CulinaryConnect - Login</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container">
        <div id="auth-container" class="card" style="margin-top: 5rem; max-width: 400px; margin-inline: auto;">
            <h1>Welcome</h1>
            <p>Please login to continue</p>
            <hr style="margin: 1rem 0;">
            </div>
    </div>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/auth.js"></script>
</body>
</html>